{% trans_default_domain 'EMSCoreBundle' %}
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                {% include '@EMSCore/elements/user-image.html.twig' with {'class': 'img-circle'} %}
            </div>
    </section>
</aside>